.spinner-container {
    position: relative;
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: pink;
}

.spinner-container .spinner:before {
    content: "";
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    margin-left: -25%;
    margin-top: -25%;
    position: absolute;
    border: solid transparent 3px;
    border-radius: 50%;
    border-top-color: red;
    animation: rotate 1s linear infinite;
    box-sizing: border-box;

}

.spinner-container .spinner.spinner-double:before
{
    border-bottom-color: red;
}

.spinner-container .spinner.spinner-double.ease:before
{
    border-bottom-color: red;
    animation-timing-function: ease;
}

.spinner-container .spinner.spinner-double.ease-in-out:before
{
    border-bottom-color: red;
    animation-timing-function: ease-in-out;
}

.spinner-container .spinner.spinner-double.ease-out:before
{
    border-bottom-color: red;
    animation-timing-function: ease-out;
}

@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}